<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ section.title }}</title>
    <!--[if lt IE 9]><script src="js/html5shiv.min.js"></script><![endif]-->
    {% if section.description %}<meta content="{{ section.description }}" name="description">{% endif %}
    {% if section.extra.keywords %}<meta content="{{ section.extra.keywords }}" name="keywords">{% endif %}
    <meta content="index, follow" name="robots">
    <meta content="{{ section.title }}" name="og:title">
    <meta content="website" name="og:type">
    {% if section.description %}<meta content="{{ section.description }}" name="og:description">{% endif %}
    <meta content="{{ config.extra.site_name }}" name="og:site_name">
    <link href="/rsfi.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <header id="top">
      <div class="container">
        <p class="logo">
          <a href="#top">
            <span>Rust Finland</span>
          </a>
        </p>
        <a class="menu-toggle" href="/">Menu</a>
        <nav id="nav">
          <a href="#participate">Participate</a>
          <a href="#share-the-word">Share the word</a>
        </nav>
      </div>
    </header>

    <main>
      <div class="content container">
        {% block content %}
          {{ section.content | safe }}
        {% endblock content %}
      </div>
    </main>

    <footer>
      <div class="container">
        <p>Copyright &copy; Rust Finland and contributors. Rust brand material copyright/trademark of Rust language team and Mozilla.</p>
      </div>
    </footer>

    <script type="text/javascript" src="/js/menu.js"></script>
  </body>
</html>
